<!DOCTYPE html>
<html>
<head>
  <title>Vedastore</title>
  <%= stylesheet_link_tag    "vedastore/application", media: "all" %>
  <%= javascript_include_tag "vedastore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
