.container
  .row
    .col-md-12
      %h1 Jurisdictions
    .col-md-12
      = link_to "Add jurisdiction", new_jurisdiction_path

  - @jurisdictions.each do |j|
    .row[j]
      .col-md-12= link_to j.name, jurisdiction_path(j)
  

    